= form_tag resources_path, :method => "GET", :id => "frmSearch" do
  = text_field_tag :q, @search_term, :autocomplete => "off", :placeholder => "Search for a resource"
  %noscript
    %button.btn.btn-primary{ :type => "submit" }
      %i.icon-white.icon-search
#search_suggest
  - if @resources.present?
    .alert.alert-info Results for "#{@search_term}"
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
      %tbody
        - @resources.each do |resource|
          %tr
            %td= link_to resource.name, resource
  - elsif defined? @resources
    .alert No results found.

:javascript
  $(function(){
    $("input").keyup(function(){
      $.get("resources", { q: $("#q").val() }, function(data){
        $("#search_suggest").html($(data).find("div#search_suggest"));
      });
    });
  });
