= form_tag resources_path, :method => "GET" do
  = text_field_tag :q
  %button.btn.btn-primary{ :type => "submit" }
    %i.icon-white.icon-search

- if @resources.present?
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
    %tbody
      - @resources.each do |resource|
        %tr
          %td= link_to resource.name, resource
