.row
  .span8
    %h2.pull-left= @resource.name
    = link_to edit_resource_path(@resource), :class => "btn left-space" do
      %i.icon-pencil
      Edit
  .span4
    %table.table.table-striped.table-bordered
      %tbody
        - @resource.properties.each do |property|
          %tr
            %td
              %strong= property.name
            %td= property.value
